@import 'colors';
$fa-font-path: "./../../node_modules/font-awesome/fonts";
@import './../../node_modules/font-awesome/scss/font-awesome.scss';

$base-font-family: 'Open Sans', sans-serif;
$base-font-size: 16px;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    color: $text-color;
    background-color: $background-color;
    font-family: $base-font-family;
    margin: 0;
    font-size: $base-font-size;
}

input, textarea, select {
    font-family: $base-font-family;
    font-size: $base-font-size;
}

a {
    color: $clickable-color;
}


h1 {
    color: $h1-color;
    font-size: 1.3em;
}

h2 {
    color: $h2-color;
    font-size: 1.15em;
}

i.busy {
    display: inline-block;
    margin-left: 10px;
    font-size: .8em;
}

form {
    width: 100%;
    max-width: 400px;
}

.field {
    width: 100%;
    margin-top: 10px;
    label {
        display: block;
    }
    input,
    textarea {
        display: block;
        width: 100%;
        padding: 7px;
    }
    div input {
        display: inline-block;
        padding: 7px;
    }
    button.primary {
        min-width: 100px;
    }
}

button.primary {
    height: 36px;
}

div.button-container {
    width: 100%;
    text-align: center;
}

.error {
    color: $error-color;
}

button {
    margin: 10px;
    margin-top: 15px;
    margin-left: 0px;
    background-color: $secondary-button-color;
    color: $secondary-button-text-color;
    height: 36px;
    min-width: 150px;
    font-size: 1.05em;
    font-weight: 400;
    border: 1px solid $secondary-button-border-color;
    font-family: $base-font-family;
    cursor: pointer;
    &:hover {
        color: $secondary-button-text-color-hover;
        border-color: $secondary-button-border-color-hover;
        background-color: $secondary-button-color-hover;
    }
    &.primary {
        color: $primary-button-text-color;
        border-color: $primary-button-border-color;
        background-color: $primary-button-color;
    }
    &.primary:hover {
        color: $primary-button-text-color-hover;
        border-color: $primary-button-border-color-hover;
        background-color: $primary-button-color-hover;
    }
}

.width-100 {
    width: 100%;
}

@import 'layout';
@import 'step-indicator';
@import 'questionnaire';
