@import 'colors';
$fa-font-path: "./../../node_modules/font-awesome/fonts";
@import './../../node_modules/font-awesome/scss/font-awesome.scss';
$default-color: black;
$base-font-family: Calibri;
body {
    background-color: $default-background-color;
    font-family: $base-font-family;
    margin: 0;
    font-size: 18px;
}

a {
    color: $secondary-color;
}

nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: $secondary-color;
    li {
        height: 28px;
        padding-top: 7px;
        display: inline-block;
        border-right: 1px solid $lightgrey-color;
        a {
            padding-left: 10px;
            padding-right: 10px;
            text-decoration: none;
            color: white;
            &:visited {
                color: white;
            }
        }
        &:hover {
            background-color: $primary-color;
        }
    }
}

h1 {
    color: $primary-color;
    font-size: 1.3em;
}

h2 {
    color: $secondary-color;
    font-size: 1.15em;
}

.centered-content {
    margin-left: auto;
    margin-right: auto;
    display: block;
    min-width: 430px;
    padding: 5px;
}

.top-header {
    font-size: 1.8em;
    font-weight: 800;
    padding-left: 5px;
    background-color: $lightgrey-color;
    color: $secondary-color;
    i {
        color: $primary-color;
    }
}

form {
    width: 400px;
}

.field {
    width: 100%;
    margin-top: 10px;
    label {
        display: block;
    }
    input,
    textarea {
        display: block;
        width: 100%;
        font-size: 1em;
        padding: 7px;
    }
    div input {
        display: inline-block;
        width: 250px;
        font-size: 1em;
        padding: 7px;
    }
    button.primary {
        min-width: 100px;
    }
}

button.primary {
    height: 36px;
}

div.button-container {
    width: 100%;
    text-align: center;
}

.error {
    color: $error-color;
}

button {
    margin: 10px;
    margin-left: 0px;
    background-image: linear-gradient(to bottom, lighten($default-color, 85%), lighten($default-color, 75%));
    color: #000000;
    height: 36px;
    min-width: 150px;
    font-size: 1.05em;
    font-weight: 800;
    border: 1px solid darken($default-color, 5%);
    font-family: $base-font-family;
    cursor: pointer;
    &:hover {
        color: lighten($default-color, 5%);
        border-color:lighten($default-color, 5%);
        background-image: linear-gradient(lighten($default-color, 87%), lighten($default-color, 82%));
    }
    &.primary {
    border: 1px solid darken($primary-color, 5%);
        color: white;
        background-image: linear-gradient(lighten($primary-color, 8%), $primary-color);
    }
    &.primary:hover {
    border: 1px solid darken($primary-color, 5%);
        color: white;
        background-image: linear-gradient(lighten($primary-color, 20%), $primary-color);
    }
}

.width-100 {
	width: 100%;
}

.question-container {
	form {
		width: 100%;
	}
    padding-top: 50px;
    padding-bottom: 50px;
    label {
        font-size: 1.2em;
        display: block;
    }
    textarea {
        width: 100%;
        max-width: 800px;
        height: 120px;
        border: 1px solid black;
    }
}

$arrow-size: 20px;
.step-indicator a {
    padding: 10px 0px 10px;
    position: relative;
    display: inline-block;
    text-decoration: none;
    min-width: 16.45%;
    margin-left: 0.25%;
    text-align: center;
    text-decoration: none;
    font-size: 1.05em;
    font-weight: 400;
    color: $secondary-color;
    background: #dfecd3;
    cursor: default;
}

.step-indicator a.active {
    color: #dfecd3;
    background: $secondary-color;
}

.step-indicator a:hover {
    text-decoration: none;
}

.step-indicator a:first-child {
    margin-left: 0;
}

.step-indicator:not(.left-arrow) a:before {
    width: 0;
    height: 0;
    border-top: $arrow-size inset transparent;
    border-bottom: $arrow-size inset transparent;
    border-left: $arrow-size solid #FFFFFF;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
}

.step-indicator:not(.left-arrow) a:after {
    width: 0;
    height: 0;
    border-top: $arrow-size inset transparent;
    border-bottom: $arrow-size inset transparent;
    border-left: $arrow-size solid #dfecd3;
    position: absolute;
    content: "";
    top: 0;
    right: -20px;
    z-index: 2;
}

.step-indicator:not(.left-arrow) a.active:after {
    border-left: $arrow-size solid $secondary-color;
}

.step-indicator a:first-child:before,
.step-indicator a:last-child:after {
    border: none;
}