
$clickable-color:#06C1B6; // #001c71;
$clickable-color-hover: #E4060A;// #1c55ff;

$header-background-color: #FF7300; // #FDC225; //#ffd700;
$h1-color: $clickable-color-hover;
$h2-color: $clickable-color;
$text-color: $clickable-color;
$background-color: white;
$error-color: #CC0000;

$primary-button-color: $clickable-color;
$primary-button-color-hover: $clickable-color-hover;
$primary-button-text-color: #fdfdfd;
$primary-button-text-color-hover: white;
$primary-button-border-color: #001658;
$primary-button-border-color-hover: $clickable-color;

$secondary-button-color: #fdfdfd;
$secondary-button-color-hover: white;
$secondary-button-text-color: black;
$secondary-button-text-color-hover: #010101;
$secondary-button-border-color: $secondary-button-text-color;
$secondary-button-border-color-hover: $secondary-button-text-color-hover;

$menu-separator-color: white;
