$default-text-color: #222;
$default-background-color: #fff;
$primary-color: #b82601;
$secondary-color: #062f4f;
$lightgrey-color: #dfecd3;
$sunshine-color: #f7b744;
$error-color: #CC0000;

/* Good Ideas at https://designschool.canva.com/blog/website-color-schemes/ */