@import 'breakpoints';
@import 'colors';
$max-display-width: 800px;

/*
    Use border-box sizing throughout for simplifed layout calculations
*/

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/* Fixed header */

header {
    display: block;
    padding: $default-spacing-half;
    background-color: $header-background-color;
}

.fixed-header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0px !important;
    /* https://stackoverflow.com/questions/9625093/margin-affects-other-fixed-elements-position */
}

.main-aside-content {
    margin-top: 100px;
}


/*
    Centering content inside content-wrapper and limiting width of display.
*/

.header-content,
.nav-content,
.main-aside-content {
    display: block;
    margin-left: $default-spacing;
    margin-right: $default-spacing;
}

@media (min-width: $centering-breakpoint) {
    .header-content,
    .nav-content,
    .main-aside-content {
        width: $max-display-width;
        margin-left: auto;
        margin-right: auto;
    }
    nav {
        a:first-child {
            border-left: 1px solid $menu-separator-color;
            margin-left: 0;
        }
    }
}


/*
    Logo
*/

.logo {
    color: $logo-color;
    font-size: 1.8em;
    font-weight: 700;
    padding-left: $default-spacing-half;
    i {
        font-weight: 900;
        color: $logo-i-color;
        display: inline-block;
        margin-right: $default-spacing-half;
    }
    i.busy {
        display: inline-block;
        margin-left: $default-spacing;
        font-size: .8em;
    }
}


/*
    Responsive Menu
*/

nav {
    display: block;
    background-color: $clickable-color;
    a {
        display: inline-block;
        height: 50px;
        line-height: 50px;
        border-right: 1px solid $menu-separator-color;
        color: $menu-separator-color;
        min-width: 100px;
        padding-left: $default-spacing-half;
        padding-right: $default-spacing-half;
        text-decoration: none;
        text-align: center;
        &:visited {
            text-decoration: none;
        }
        &:hover {
            background-color: $clickable-color-hover;
        }
        &:first-child {
            margin-left: -$default-spacing;
        }
    }
}

@media (max-width: $menu-breakpoint) {
    nav {
        a {
            display: block;
            border: 0;
            border-top: 1px solid $menu-separator-color;
        }
    }
    .nav-content {
        margin-left: 0;
        margin-right: 0;
    }
    /* "Header" incorporated with the first anchor in the nav, see Menu.jsx */
    header {
        display: none;
    }
    nav .nav-content a:first-child {
        border-top: 0;
        background-color: $header-background-color;
        div.logo {
            float: left;
        }
        div.navicon {
            float: right;
        }
        .fa-bars {
            font-size: 2em;
            vertical-align: middle;
        }
    }
    .main-aside-content {
        margin-top: 50px;
        /* Reduced from 100px because header is no longer showing */
    }
}


/*
    Showing/hiding asides.
*/

aside {
    display: none;
}

@media (min-width: $aside-breakpoint) {
    main {
        display: inline-block;
        width: 65%;
        &.questionnaire-container {
            width: 800px;
        }
    }
    aside {
        width: calc(35% - 35px);
        display: inline-block;
        vertical-align: top;
        margin-top: 35px;
        margin-left: 35px;
        border-left: 1px dotted $header-background-color;
        padding-left: 34px;
        height: 280px;
    }
}


/*
    Small Display Adjustments 
*/

.responsive-content-small {
    display: none;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: $placeholder-hidden-color;
    /* Hiding placeholder text on larger displays (because they will have a label to prompt user input) */
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: $placeholder-hidden-color;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: $placeholder-hidden-color;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: $placeholder-hidden-color;
}

@media(max-width: $touch-input-breakpoint) {
    .responsive-content-small {
        display: inline;
    }
    ul.responsive-content-small {
        display: inherit;
    }
    .responsive-content-regular {
        display: none;
    }
    form input,
    input,
    textarea {
        margin-top: $default-spacing;
        display: block;
        width: 100%;
        font-size: 1.5em; // Making the input a little larger (touch friendly).
        height: 50px;
        line-height: 50px;
    }
    button {
        display: block;
        font-size: 1.5em; // Making the input a little larger (touch friendly).
        height: 50px;
        line-height: 50px;
        width: 60%;
        margin-left: auto;
        margin-right: auto !important;
    }
    .field label {
        /* Showing placeholder text on smaller displays (because they will not have a label to prompt user input) */
        display: none;
        &.error {
            display: block;
        }
    }
     ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: $placeholder-color;
        /* Hiding placeholder text on larger displays (because they will have a label to prompt user input) */
    }
     ::-moz-placeholder {
        /* Firefox 19+ */
        color: $placeholder-color;
    }
     :-ms-input-placeholder {
        /* IE 10+ */
        color: $placeholder-color;
    }
     :-moz-placeholder {
        /* Firefox 18- */
        color: $placeholder-color;
    }
}