$phone-breakpoint: 400px;
$menu-breakpoint: 480px;
$aside-breakpoint: 800px;
$centering-breakpoint: 960px;
$max-display-width: 800px;
$content-margin: 10px;
header {
    display: block;
    padding: 5px;
    font-size: 1.8em;
    font-weight: 800;
    padding-left: 5px;
    background-color: $header-background-color;
    color: $clickable-color-hover;
    i {
        color: $clickable-color;
        display: inline-block;
        margin-right: 3px;
    }
}

nav {
    display: block;
    background-color: $clickable-color;
    a {
        display: inline-block;
        height: 50px;
        line-height: 50px;
        border-right: 1px solid $menu-separator-color;
        color: white;
        min-width: 100px;
        padding-left: 5px;
        padding-right: 5px;
        text-decoration: none;
        text-align: center;
        &:visited {
            text-decoration: none;
        }
        &:hover {
            background-color: $clickable-color-hover;
        }
        &:first-child {
            margin-left: -$content-margin;
        }
    }
    &.small-menu {
        a {
            display: block;
            border: 0;
            border-top: 1px solid $menu-separator-color;
            &:first-child {
                border-top: 0;
            }
            i {
                font-size: 2em;
                display: inline-block;
                margin-top: 5px;
            }
        }
    }
}

.fixed-header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0px !important;
    /* https://stackoverflow.com/questions/9625093/margin-affects-other-fixed-elements-position */
}

.main-aside-content {
    margin-top: 100px;
}


/*
    Centering content inside content-wrapper and limiting width of display.
*/

.header-content,
.nav-content,
.main-aside-content {
    display: block;
    margin-left: $content-margin;
    margin-right: $content-margin;
}

@media (min-width: $centering-breakpoint) {
    .header-content,
    .nav-content,
    .main-aside-content {
        width: $max-display-width;
        margin-left: auto;
        margin-right: auto;
    }
    nav {
        a:first-child {
            border-left: 1px solid $menu-separator-color;
            margin-left: 0;
        }
    }
}

@media (max-width: $menu-breakpoint) {
    .nav-content {
        margin-left: 0;
        margin-right: 0;
    }
    nav.small-menu .nav-content a:first-child {
        background-color: $header-background-color;
        color: $clickable-color;
        padding: 5px;
        padding-left: 20px;
        line-height: inherit;
        .pull-left {
            margin-top: -3px;
            float: left;
            font-size: 1.6em;
            font-weight: 700;
            i {
                font-weight: 900;
                font-size: inherit;
                margin-right: 3px;
                color: $clickable-color-hover;
            }
        }
        .pull-right {
            float: right;
        }
    }
    .fixed-header header {
        display: none;
    }
    .main-aside-content {
        margin-top: 50px;
    }
}


/*
    Showing/hiding asides.
*/

aside {
    display: none;
}

@media (min-width: $aside-breakpoint) {
    main {
        display: inline-block;
        width: 560px;
        &.questionnaire-container {
            width: 800px;
        }
    }
    aside {
        display: inline-block;
        width: calc(100% - 63px);
        vertical-align: top;
        margin-top: 35px;
        margin-left: 35px;
        border-left: 1px dotted $header-background-color;
        padding-left: 35px;
        height: 280px;
    }
}

.responsive-content-small {
    display: none;
}

@media(max-width: $phone-breakpoint) {
    .responsive-content-small {
        display: inline;
    }
    .responsive-content-regular {
        display: none;
    }
    input,
    textarea {
        display: block;
        width: 100%;
        font-size: 1.5em;
    }
    button {
        display: block;
        font-size: 1.2em;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}